.tabs {
    background-color: #ffffff;
}

.tabs .selected {
    background-color: #ffffff;
    color: var(--selected-tab);
    border: 2px solid var(--selected-tab-border);
}

div[role="tabpanel"] {
   padding: 5px;
}